---
import Social from './Social.astro';
---
<footer>
    <p>Learn more about my projects on  </p>
    <br>
        <Social platform = "twitter" username = "astrodotbuild" />
    <br>
        <Social platform = "github" username = "withastro" />
    <br>
        <Social platform = "youtube" username = "astrodotbuild" />
</footer>